<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/donate.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <!-- Bulma Version 0.7.1-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
</head>

<body>
  <section>
    <div class="container is-fullwidth is-fluid gallery first-image">
      <h1>I think this will work</h1>
    </div>
  </section>
  <section>
    <div class="container">
      <h2>Our Commitment to Our Donors</h2>
      <p>We will not sell, share or trade our donors' private information with other organizations. This policy applies to all information received by Chicago Autism Network, both online and offline, on any platform (including the Chicago Autism Network website and mobile applications), as well as any electronic, written, or oral communications.</p>
      <p>When donations are processed through a third-party service provider, our donors’ personal information will only be used for purposes necessary to process the donation.</p>
      <p>For more information regarding our Donor Privacy Policy, email [info@chicagoautismnetwork.org](info@chicagoautismnetwork.org).</p>
    </div>
  </section>
  <section>
    <div class="container is-fullwidth is-fluid gallery second-image">
      <h1>I think this will work</h1>
    </div>
  </section>
  <section>
    <div class="container">
      <h2>Our Commitment to Our Donors</h2>
      <p>We will not sell, share or trade our donors' private information with other organizations. This policy applies to all information received by Chicago Autism Network, both online and offline, on any platform (including the Chicago Autism Network website and mobile applications), as well as any electronic, written, or oral communications.</p>
      <p>When donations are processed through a third-party service provider, our donors’ personal information will only be used for purposes necessary to process the donation.</p>
      <p>For more information regarding our Donor Privacy Policy, email [info@chicagoautismnetwork.org](info@chicagoautismnetwork.org).</p>
    </div>
  </section>
  <section>
    <div class="container is-fullwidth is-fluid gallery third-image">
      <h1>I think this will work</h1>
    </div>
  </section>
  <section>
    <div class="container">
      <h2>Our Commitment to Our Donors</h2>
      <p>We will not sell, share or trade our donors' private information with other organizations. This policy applies to all information received by Chicago Autism Network, both online and offline, on any platform (including the Chicago Autism Network website and mobile applications), as well as any electronic, written, or oral communications.</p>
      <p>When donations are processed through a third-party service provider, our donors’ personal information will only be used for purposes necessary to process the donation.</p>
      <p>For more information regarding our Donor Privacy Policy, email [info@chicagoautismnetwork.org](info@chicagoautismnetwork.org).</p>
    </div>
  </section>
</body>

</html>
{% endblock %}
