<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}
<html>
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css'>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/cards.css">

</head>

<body>
<br>
  <div class="container">
    <div class="row columns is-multiline">
      <div class="column is-one-third">
        <div class="card large">
          <div class="card-content">
            <div class='box has-background-info'>
              <p class="title is-4 no-padding has-text-white-ter">Kimi Matsumura</p>
              <p class="subtitle is-6 has-text-white-ter">Founder-President</p>
            </div>
            <div class="content">
              Kimi has a bachelors in education from Brigham Young University. After teaching high school for a year, she moved to Chicago and began working for The Joffrey Ballet as both a teaching artist and an administrative associate. She began studying about autism when her 2nd child began showing signs of autism around age 2 1/2. In the years since her daughter received a diagnosis, Ms. Matsumura has been grateful for the therapy services and special programs that have helped her daughter thrive. In establishing Chicago Autism Network, Ms. Matsumura hopes to give more individuals with autism opportunities to connect with the services that will enable them to reach their potential.
            </div>
          </div>
        </div>
      </div>
      <div class="column is-one-third">
        <div class="card large">
          <div class="card-content">
            <div class='box has-background-info'>
              <p class="title is-4 no-padding has-text-white-ter">Rachel Loftin, PhD</p>
              <p class="subtitle is-6 has-text-white-ter">Secretary</p>
            </div>
            <div class="content">
              Rachel is a clinical & school psychologist in private practice and adjunct faculty in the Psychiatry Department at Yale School of Medicine.  Dr. Loftin specializes in diagnosis of treatment of people with ASD throughout the lifespan. Dr. Loftin has particular interest in legal issues that can affect people with ASD. She is also on the board of Community Support Services. Dr. Loftin earned her PhD at Indiana University and completed pre and post-doctoral fellowships in developmental disorders at the Child Study Center at Yale School of Medicine. Dr. Loftin also completed a social policy fellowship in the Edward Zigler Center while at Yale and continues to consider social advocacy an important component of her work.
            </div>
          </div>
        </div>
      </div>
      <div class="column is-one-third">
        <div class="card large">
          <div class="card-content">
            <div class='box has-background-info'>
              <p class="title is-4 no-padding has-text-white-ter">Sam Brunson, JD</p>
              <p class="subtitle is-6 has-text-white-ter">Treasurer</p>
            </div>
            <div class="content">
              Sam is the Georgia Reithal Professor of Law at Loyola University Chicago. His articles have been published in a variety of law reviews, including the Northwestern University Law Review, the Wake Forest Law Review, the Washington University Law Review, the Alabama Law Review, and the Florida Tax Review. Prior to joining the Loyola faculty, Professor Brunson practiced law with Willkie Farr & Gallagher LLP and clerked for the Honorable George W. Miller on the U.S. Court of Federal Claims. Professor Brunson teaches Federal Income Tax, International Tax, Not-for-Profit Organizations, and Business Organizations.. He received his law degree in 2004 from the Columbia University School of Law, where he was a Senior Editor of the Columbia Law Review and a Harlan Fiske Stone Scholar for all three years. He also was an Editor of the Columbia Journal of European Law.
            </div>
          </div>
        </div>
      </div>
      <div class="column is-one-third">
        <div class="card large round">
          <div class="card-content">
            <div class='box has-background-info'>
              <p class="title is-4 no-padding has-text-white-ter">Erin Potterton, MEd</p>
              <p class="subtitle is-6 has-text-white-ter">Director</p>
            </div>
            <div class="content">
              Erin has a Master's degree in Urban and Multicultural Education from the College of Mount Saint Vincent in NY. She began her career teaching special education in New York City public schools before moving to Egypt, then Sweden, to teach English and continue her studies in cultural immersion. Since 2015, Potterton has worked closely with children with autism and their families as the Office Manager at Blue Bird Day therapeutic preschool and kindergarten. She has extensive experience with non-profit organizations, including the National MS Society and as one of the founders of U4Uganda.
            </div>
          </div>
        </div>
      </div>
      <div class="column is-one-third">
        <div class="card large round">
          <div class="card-content">
            <div class='box has-background-info'>
              <p class="title is-4 no-padding has-text-white-ter">David Matsumura</p>
              <p class="subtitle is-6 has-text-white-ter">Director</p>
            </div>
            <div class="content">
              David is a quantitative analyst for Kabouter Fund. He was previously employed at Credit-Suisse as a research analyst. Though he spends more time working with data, he is developing the website. He received his undergraduate degree in Mechanical Engineering from Brigham Young University.
            </div>
          </div>
        </div>
      </div>
      <div class="column is-one-third">
        <div class="card large round">
          <div class="card-content">
            <div class='box has-background-info'>
              <p class="title is-4 no-padding has-text-white-ter">Natashee Scott</p>
              <p class="subtitle is-6 has-text-white-ter">Director</p>
            </div>
            <div class="content">
              Natashee is the Senior Advisor to Chicago City Clerk Anna M. Valencia. Prior to becoming Senior Advisor, Scott served as the Office’s Chief Legal Counsel. Before that, Scott served as Counsel at the Chicago Park District. Scott also serves as the President and CEO of the Westside Cultural Foundation (“WCF”). WCF was established in 2012 in an effort to create cultural and educational outlets for the youth, adults and seniors in the Lawndale, Austin and Garfield communities on the West Side of Chicago, and to support the Chicago Westside Music Festival (“WSMF”). Scott holds a Bachelor of Science degree from Northeastern Illinois University, a Master of Business Administration degree from Roosevelt University and a Juris Doctor degree from Loyola University Chicago School of Law. She is a member of the Chicago Bar Association and the Illinois State Bar Association.
​            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  </body>
  </html>
  {% endblock %}
